.demos-contailer {
    margin: 30px 50px;
}

.flex-demo-main {
    display: flex;
}
.flex-demo-main .rp-editor {
    flex: none;
}
.flex-demo-main .rp-previewer {
    flex: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rp-error {
    color: red;
}

.edittor-toggle {
    display: flex;
    margin: 8px 0;
    padding: 12px;
    color: #666;
    font-size: 14px;
    cursor: pointer;
    background-color: #f8f9fa;
    border: 1px solid #dadfe3;
}

.editor--hidden {
    display: none;
}